html {
    box-sizing: border-box;
    /** 1rem = 10px**/
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 4rem;
}


/**** Globales ****/

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.5rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/*** Utilidades***/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/*Botones*/

.btn {
    display: block;
    padding: 1rem 3rem;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: 'PT sans', sans-serif;
    font-weight: 700;
    margin-top: 2rem 0;
    text-transform: uppercase;
    font-size: 2rem;
}

@media (min-width: 648px) {
    .btn {
        display: inline-block;
    }
}

.btn-primario {
    background-color: #000000;
}

.btn-secundario {
    background-color: #784d78;
}


/** Header**/

@media(min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a {
    color: #ffffff;
    text-decoration: none;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header h1 span {
    font-weight: 700;
}

.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}

.texto-header {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 15rem;
    }
}

.texto-header p {
    font-size: 2.2rem;
}


/** Contenido Principal HOME**/

.contenido-principal {
    display: flex;
    flex-wrap: wrap;
}

.blog,
.cursos {
    /*
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    flex : 0 0 100% resumido
    */
    flex: 0 0 100%;
}

.cursos {
    order: -1;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: flex;
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
        order: -1;
    }
    .cursos {
        flex-basis: calc(33.33% - 4rem);
    }
}


/* Opcional para ver las imagenes pequeñas*/


/*
.entrada-blog {
    display: flex;
    justify-content: space-between;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .contenido-blog {
    flex-basis: calc(60% - 2rem);
}
*/

.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}

.entrada-blog:last-of-type {
    border-bottom: none;
}


/** Curso Sidebar **/

.cursos-lista {
    padding: 0;
    /*Elimina la viñeta del listado*/
    list-style: none;
}

.curso {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e1e1e1;
}

.curso:last-of-type {
    border-bottom: none;
}

.curso p {
    font-family: 'Pt Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.curso p span,
.curso p.descripcion {
    font-weight: 400;
}


/** FOOTER**/

.site-footer {
    background: #000000;
    padding: 3rem;
    margin-top: 4rem;
}

.site-footer p {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.site-footer p span {
    font-weight: 700;
}


/** Nosotros**/

@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
    }
    .column-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .column-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .column-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
}